.carousel {
    max-width: 440px;
    position: relative;
    left: 34%;
}

.carousel .carousel__item img {
    height: 440px;
}

.carousel .carousel__item--visible {
    display: block;
}

.carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel__actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #242424;
}

.carousel .carousel__actions button[data-js="carousel__button--prev"] {
    margin-left: 20px;
}

.carousel .carousel__actions button[data-js="carousel__button--next"] {
    margin-right: 20px;
}